.container {
  background-color: #ddd;
}

.pdf-container {
  height: 297mm;
  width: 210mm;
  margin: auto;
}

.pdf-template {
  height: 297mm;
  width: 210mm;
  background-color: #fff;
  -webkit-box-shadow:inset 0px 0px 0px 1px #000;
  -moz-box-shadow:inset 0px 0px 0px 1px #000;
  box-shadow:inset 0px 0px 0px 1px #000;
}

.draggable {
  display: inline-block;
}

.draggable:hover {
  background-color: #ccc;
}

.pdf-toolbar {
  position: absolute;
  height: 200px;
  width: 200px;
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
}

.selected {
  -webkit-box-shadow: inset 0px 0px 0px 1px #000;
  -moz-box-shadow: inset 0px 0px 0px 1px #000;
  box-shadow: inset 0px 0px 0px 1px #000;
}

.inline {
  display: inline-block;
}

.none {
  display: none;
}

.pdf-option-input {
  height: 20px;
  width: 50px;
}

.options-container {
  margin-bottom: 10px;
}

.additional-options {
  text-align: left;
}

.textCenter {
  text-align: center;
}

img{
  width: 100%;
  height: 100%;
}